.vs/EliteDangerousDataFeed/v15/.suo
.vs/EliteDangerousDataFeed/v15/Server/sqlite3/storage.ide
EliteDangerousDataFeed/Properties/PublishProfiles/FolderProfile.pubxml
EliteDangerousDataFeed/obj/Debug/netstandard2.0/EliteDangerousDataFeed.pdb
EliteDangerousDataFeed/obj/Debug/netstandard2.0/EliteDangerousDataFeed.csproj.CoreCompileInputs.cache
